<% content_for :subtitle do %>
  
<% end %>
<div class="login">
  <h2>Login</h2>

  <% form_tag session_path do -%>
    <p>
      <%= label_tag 'Username:' %>
      <%= text_field_tag 'login', @login %>
    </p>

    <p>
      <%= label_tag 'Password:' %>
      <%= password_field_tag 'password', nil %>
    </p>

    <p class="button"><%= submit_tag 'Sign in' %></p>
  <% end -%>
</div>
