<%= f.error_messages %>
<table>
  <tr>
    <td>
      <%= f.label :salutation %><br />
      <%= f.text_field :salutation %>
    </td>
    <td>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :middle_name %><br />
      <%= f.text_field :middle_name %>
    </td>
    <td>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :street_address %><br />
      <%= f.text_field :address %>
    </td>
    <td>
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :county %><br />
      <%= f.hidden_field :county, :value => 'Adams' %>Adams
    </td>
    <td>
      <%= f.label :state %><br />
      <%= f.hidden_field :state, :value => 'JA' %>JA
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </td>
    <td>
      <%= f.label :zip %><br />
      <%= f.select :zip, ['456780', '456781', '456782'] %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :date_of_birth %><br />
      <%= f.date_select :date_of_birth, :start_year => 1991, :end_year => 1900, :include_blank => true %>
    </td>
    <td>
      <%= f.label :party %><br />
      <%= f.select :party, ['Decline to State', 'American Independent', 'Democratic', 'Green', 'Libertarian', 'Natural Law', 'Peace and Freedom', 'Republican'], :include_blank => true %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= f.label :id_number %>*<br />
      <%= f.text_field :id_number %>
    </td>
  </tr>

</table>
<p>* You may use your State of Jeffersonia Driver's License number as your identification number. If you do not have a
    Jeffersonia Driver's License or do not wish to use it as your identificion number, you may use the last four digits
    of your Social Security number.