<% content_for :head do %>
  <%= stylesheet_link_tag 'citizen_landing1' %>
<% end %>
<div class="yui-g">
  <div class="yui-g first">
    <div class="yui-u first section featured">
      <ul>
        <li><%= link_to "About the Agency" %></li>
        <li><%= link_to "November 4th" %></li>
        <li><%= link_to "General Election Information" %></li>
        <li><%= link_to "Official Election Results" %></li>
        <li><%= link_to "News &amp; Resources" %></li>
        <li><%= link_to "Access to Public Records" %></li>
        <li><%= link_to "Contact Information" %></li>
        <li><%= link_to "Privacy Policy" %></li>
        <li><%= link_to "Career Opportunities" %></li>
        <li><%= link_to "Help" %></li>
      </ul>
    </div>
    <div class="yui-u section">
      <h3>Elections</h3>
      <ul>
        <li><%= link_to "Register to Vote", citizen_landing2_path %>*</li>
        <li><%= link_to "Update Your Address" %></li>
        <li><%= link_to "Find Polling Place" %></li>
        <li><%= link_to "Your Voting Rights" %></li>
        <li><%= link_to "Election Results" %></li>
      </ul>
    </div>
  </div>
  <div class="yui-g">
    <div class="yui-u first section">
      <h3>Business Programs</h3>
      <ul>
        <li><%= link_to "Notary Public" %></li>
        <li><%= link_to "Small-Business Owners" %></li>
        <li><%= link_to "Health Insurance" %></li>
        <li><%= link_to "Loan Financing" %></li>
      </ul>
    </div>
    <div class="yui-u section">
      <h3>Financial Bailout</h3>
      <ul>
        <li><%= link_to "Tax Exemptions" %></li>
        <li><%= link_to "Big Enough to Fail" %></li>
        <li><%= link_to "2000 Apple Pies" %></li>
      </ul>
    </div>
  </div>
</div>