
<div class="borderless">

  <div class="box_title">Information About Request for Voter Registration</div>
  <table cellpadding="5">
    <tr>
      <th border="0">Voter Name:</th>
      <td><%= @registration.abbreviated_name %></td>
      <th>Origination Date:</th>
      <td><%= date_display(@registration.created_at) %></td>
    </tr>
    <tr>
      <th>Status:</th>
      <td><%= @registration.status.to_s.capitalize %></td>
      <th>Last Activity:</th>
      <td><%= date_display(@activities.first.created_at) %></td>
    </tr>
    <tr>
      <th>Tracking ID:</th>
      <td><%= @registration.id %></td>
    </tr>
  </table>

  <div class="box_title">Information About Request for Voter Registration</div>

  <table cellpadding="5">
    <tr>
      <td width="20%"><b>Date</b></td>
      <td width="20%"><b>Time</b></td>
      <td width="20%"><b>Who</b></td>
      <td width="20%"><b>Event Details</b></td>
      <td width="20%"><b>Comment</b></td>
    </tr>

    <% for activity in @activities %>
      <tr>
        <td><%= date_display(activity.created_at) %></td>
        <td><%= time_display(activity.created_at) %></td>
        <td><%= activity.clerk ? "#{activity.clerk.abbreviated_name} (Clerk)" : "#{activity.registration.abbreviated_name} (Registrant)" %></td>
        <td><%= h activity.message %></td>
        <td><%= activity.comment || '&nbsp;' %></td>
      </tr>
    <% end %>
  </table>

  <div class="box_title">Information About Request for Voter Registration</div>
  <br>
  <b><%= h @activities.first.next_step %></b>
  <br>
  <br>
  <hr>
  <br>
  <p><i>You may track the progress of your voter registration request at any time by visting this page. You may
    <%= link_to "bookmark", "#" %> this page to make future visits more convenient.</i></p>

  <p><i>The status of your voter registration request is public information, but no personally identifying details will be
    made public.</i></p>

</div>