<% content_for :subtitle do %>
  <h2>Voter Registration Activity</h2>
<% end %>


<table class="zebra">
  <tr>
    <th>Citizen</th>
    <th>ID#</th>
    <th>Trk#</th>
    <th>Scan</th>
    <th>Event</th>
    <th>By</th>
    <th>Date</th>
    <th>Location</th>
    <th>IP</th>
    <th>Comment</th>
  </tr>

  <% for activity in @activities %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="citizen"><%= activity.registration.name %></td>
      <td><%= activity.registration.id_number%></td>
      <td><%= activity.registration_id %></td>
      <td><%= image_tag('form.jpeg')%></td>
      <td class="event"><%= activity_description(activity) %></td>
      <td><%= activity.clerk ? "#{activity.clerk.name} (Clerk)" : "#{activity.registration.name} (Registrant)" %></td>
      <td><%= date_time_display(activity.created_at) %></td>
      <td><%= activity.location || '&nbsp;'%></td>
      <td><%= activity.ip_address || '&nbsp;'%></td>
      <td><%= activity.comment || '&nbsp;'%></td>
    </tr>
  <% end %>
</table>
